{% extends 'Principal/base.html'%}
{% load static from staticfiles %}


{% block bodyContent %}
 <!-- carousel -->
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active" height="325px" width="600px" style="max-width: auto; max-height: 700px">
          <img class="d-block w-100 center" src="{% static 'main-ecologia-5.jpg' %}" alt="First slide" >
          <div class="carousel-caption d-none d-md-block">
            <h2 class="carousel-color-letra-titulo">Salva al planeta</h2>
            <p class="carousel-color-letra-parrafo">Unete a los miles de proyectos registrados en World Help para contribuir al medio ambiente</p>

          </div>
        </div>
        <div class="carousel-item" height="325px" width="600px" style="max-width: auto; max-height: 700px">
          <img class="d-block w-100" src="{% static 'main-ecologia-3.jpg' %}" alt="Second slide">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="carousel-color-letra-titulo">Reduce la contaminacion</h2>
            <p class="carousel-color-letra-parrafo">Unete a los miles de proyectos registrados en World Help para contribuir al medio ambiente</p>
          </div>
        </div>
        <div class="carousel-item" height="325px" width="600px" style="max-width: auto; max-height: 700px">
          <img class="d-block w-100" src="{% static 'main-ecologia-4.jpg'%}" alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="carousel-color-letra-titulo">Dale futuro al mundo</h2>
            <p class="carousel-color-letra-parrafo">Unete a los miles de proyectos registrados en World Help para contribuir al medio ambiente</p>

          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </a>
    </div>

    <div class = "container-fluid event-wrapper">
      <div class="row" style="margin: 0 auto 0 auto;">

        {% for evento in eventos %}

          <div class="card" style="width: 18rem;">
            {% if evento.activity_picture%}
              <img class="card-img-top" src="{{evento.activity_picture.url}}" alt="Card image cap" style="min-height: 150px; max-height: 150px;">
            {% else %}
              <img class="card-img-top" src="https://dummyimage.com/600x400/c1c8e4/291329.png&text=card+img" alt="Card image cap">
            {% endif %}
            <div class="card-body">
              <h3 class="card-title">{{evento.activity_name}}</h3>
              <p class="card-text">{{evento.activity_description}}</p>
            </div>
            <a href="{% url 'activities:actDetails' evento.id %}" class="btn btn-primary">Conoce mas</a>
            {% if evento.activity_type == 'vida'%}
                <div class="eje-carta" style="background-color: green; height: 11px; width: auto; margin: 0;"></div>
              {% elif evento.activity_type == 'innovacion'%}
                <div class="eje-carta" style="background-color: yellow; height: 11px; width: auto; margin: 0;"></div>
              {% elif evento.activity_type == 'energia'%}
                <div class="eje-carta" style="background-color: orange; height: 11px; width: auto; margin: 0;"></div>
              {% elif evento.activity_type == 'social'%}
                <div class="eje-carta" style="background-color: blue; height: 11px; width: auto; margin: 0;"></div>
              {% endif %}
          </div>

        {% empty %}
        <p>No hay nada en eventos</p>
        {% endfor %}
      </div> 
    </div>

    <div class="description-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div>
              <img src="https://dummyimage.com/600x600/c1c8e4/291329.png&text=desc+img" style="width:100%;"></img>
            </div>
          </div>
          <div class="col-md-6"> 
            <div class="description-body">
                <h2>¿Que hacemos en World Help?</h2>
                <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a  Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, um passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                <h4>Asi es como lo hacemos</h4>
                <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</p>
                <h4>Objetivo</h4>
                <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</p>
                <h4>¿Por que World Help?</h4>
                <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</p>
              </div>
           </div> 
            
        </div>
      </div>
    </div>


    <div class="partner-section">
      <h1 style="left:50%; text-align: center;">Organizaciones asociadas</h1>
      <div class="container-fluid">
        <div class="row">
          <div class="partner-name">
            <img class="partner-logo" src="{% static 'brand-greenpeace-logo.png' %}">
          </div>
          <div class="partner-name">
            <img class="partner-logo" src="{% static 'brand-greenpeace-logo.png' %}">
          </div>
          <div class="partner-name">
            <img class="partner-logo" src="{% static 'brand-greenpeace-logo.png' %}">
          </div>
          <div class="partner-name">
            <img class="partner-logo" src="{% static 'brand-greenpeace-logo.png' %}">
          </div>
          <div class="partner-name">
            <img class="partner-logo" src="{% static 'brand-greenpeace-logo.png' %}">
          </div>
        </div>
      </div>    
    </div>
{% endblock %}