{% extends 'Users/base.html'%}
{% load static from staticfiles %}


{% block bodyContent %}
<div style='margin: 2rem 50rem 0 50rem;'>
	<form action="{% url 'users:user_login' %}" method='post'>
		{% csrf_token %}
		{% for formField in form %} 
			{% if formField.name != 'email' %}
				<label for='{{formField.id_of_label}}'>{{formField.label}}:</label>
				{{formField}}
			{% endif %}
		{% endfor %}
  		<button type="submit" class="btn btn-primary" style='margin: 1rem 0 0 0;'>Entrar</button>
	</form>
</div>

<div style='margin: auto 50rem;'>

	<a href="{% url 'users:user_register' %}">¿No tienes cuenta?</a>

</div>
{% endblock %}

