{% extends 'Users/base.html'%}
{% load static from staticfiles %}

{% block bodyContent%}
<div style='margin: 0 50rem;'>
	<form action="{% url 'users:user_register' %}" method='post'>
		{% csrf_token %}
		{% for formField in form %}
			<label for='{{formField.id_of_label}}'>{{formField.label}}:</label>
			{{formField}}
			{% for key, value in errors.items %}
				{% if key == formField.name %}
					{% if key == 'password' %}
						<p style="color:red;">{{value.0}}</p>
					{% else %}
						<p style="color:red;">{{value.1}}</p>
					{% endif%}
				{% endif %}
			{% endfor %}
		{% endfor %}
  		<button type="submit" class="btn btn-primary" style='margin: 1rem 0;'>Registrarse</button>
	</form>
</div>
{% endblock %}