{% load static from staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'mainStyles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'activities/activitiesHtmlStyle.css' %}">

    <!--Bootstrap required tags -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


    <!-- JQuery, Popperjs and javascript scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


    <!-- page header -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>World Help</title>


</head>
<body>

<!-- Navbar -->
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light navbar-default fixed-top">
          <a class="navbar-brand" href="">World Help</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto navbar-right justify-content-end">
              <li class="nav-item">
                <a class="nav-link" href="/activities">Actividades</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Organizaciones</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Donaciones
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Recursos</a>
                  <a class="dropdown-item" href="#">Voluntarios</a>
                  <a class="dropdown-item" href="#">Dinero</a>
                </div>
              </li>
            </ul>
            <ul class="justify-content-end navbar-nav">
             <li class="nav-item">
                 <a class="nav-link" href="#">Inicia sesion</a>
             </li>
            </ul>
          </div>
        </nav>
        <br>
        <br>
        <br>
<!-- Searchbar -->
        <div  align="center" background-color="grey">
            <h1>Que actividad estas buscando?</h1>
            <br>
            <div class="search-container" style="width: 700px">
                <form action="#">
                  <input type="text" placeholder="Search.." name="search">
                 </form>
             </div>
        </div>
    </div>
<br>


<!-- Cartas de las activididades en filas de 4 -->
    <div class = "container-fluid event-wrapper">
    <div class="row" style="margin: 0 auto 0 auto;">
    <!-- Caja a la izquierda para filtrar por fecha -->
            <div clas="container" align="left" style="margin-bottom: 20px">
                <div class="jumbotron" >
                    <h3>Fecha</h3>
                    <h4><a href="#">Esta semana</a> </h4>
                    <h4><a href="#">Este mes</a> </h4>
                    <h4><a href="#">Estos 3 meses</a> </h4>
                    <h4><a href="#">Estos 4 meses</a> </h4>
                </div>
                <br>
    <!-- Caja a la izquierda abajo de las fechas para filtrar por eje -->
                <div class="jumbotron" >
                    <h3>Temas</h3>
                    <h4><a href="#">Sustentabilidad</a> </h4>
                    <h4><a href="#">Innovacion</a> </h4>
                    <h4><a href="#">Social</a> </h4>
                    <h4><a href="#">Valores</a> </h4>
                </div>
            </div>
            {% for act in all_acts %}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://dummyimage.com/600x400/c1c8e4/291329.png&text=card+img" alt="Card image cap">
                    <div class="card-body">
                        <h3><a href="{{ act.id }}"> {{ act.activity_name }} </a></h3>
                      <p class="card-text">{{ act.activity_description }}</p>
                    </div>
                  </div>
            {% endfor %}
    </div>

<!-- Apartado de about WorldHelp -->
</body>
</html>