{% extends 'Activities/base.html'%}
{% load static from staticfiles %}

{% block styleSheet %}
<link rel="stylesheet" type="text/css" href="{% static 'activitiesHtmlStyle.css' %}">
{% endblock %}


{%block bodyContent%}
  <!-- Searchbar -->
          <div  align="center" background-color="grey">
              <h1>Que actividad estas buscando?</h1>
              <br>
              <div class="search-container" style="width: 700px">
                  <form action="#">
                    <input type="text" placeholder="Search.." name="search">
                   </form>
              </div>
          </div>


  <!-- Cartas de las activididades en filas de 4 -->
      <div class = "container-fluid event-wrapper">
        <div class="row" style="margin: 0 auto;">
        <!-- Caja a la izquierda para filtrar por fecha -->
                <div clas="container" align="left" style="margin-bottom: 20px">
                    <div class="jumbotron" >
                        <h3>Fecha</h3>
                        <h4><a href="#">Esta semana</a> </h4>
                        <h4><a href="#">Este mes</a> </h4>
                        <h4><a href="#">Estos 3 meses</a> </h4>
                        <h4><a href="#">Estos 4 meses</a> </h4>
                    </div>
                    <br>
        <!-- Caja a la izquierda abajo de las fechas para filtrar por eje -->
                    <div class="jumbotron" >
                        <h3>Temas</h3>
                        <h4><a href="#">Sustentabilidad</a> </h4>
                        <h4><a href="#">Innovacion</a> </h4>
                        <h4><a href="#">Social</a> </h4>
                        <h4><a href="#">Valores</a> </h4>
                    </div>
                </div>
                {% for act in all_acts %}
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://dummyimage.com/600x400/c1c8e4/291329.png&text=card+img" alt="Card image cap">
                        <div class="card-body">
                            <h3><a href="{{ act.id }}"> {{ act.activity_name }} </a></h3>
                          <p class="card-text">{{ act.activity_description }}</p>
                        </div>
                      </div>
                {% endfor %}
        </div>
      </div>

  <!-- Apartado de about WorldHelp -->
{% endblock %}