{% extends 'Activities/base.html'%}
{% load static from staticfiles %}

{% block styleSheet %}
<link rel="stylesheet" type="text/css" href="{% static 'activitiesHtmlStyle.css' %}">
{% endblock %}


{%block bodyContent%}
  <!-- Searchbar -->
          <div  align="center" background-color="grey">
              <h1>Que actividad estas buscando?</h1>
              <br>
              <div class="search-container" style="width: 700px">
                  <form action="#">
                    <input type="text" placeholder="Search.." name="search">
                   </form>
              </div>
              <div>
                <a href="{% url 'activities:newEvent' %}"> crear Evento </a>
              </div>
          </div>


  <!-- Cartas de las activididades en filas de 4 -->
      <div class = "container-fluid event-wrapper" style="min-height: 754px">
        <div class="row" style="margin: 0 auto;">
        <!-- Caja a la izquierda para filtrar por fecha -->
                <div clas="container" align="left" style="margin-bottom: 20px">
                    <div class="jumbotron" >
                        <h3>Fecha</h3>
                        <h4><a href="#">Esta semana</a> </h4>
                        <h4><a href="#">Este mes</a> </h4>
                        <h4><a href="#">Estos 3 meses</a> </h4>
                        <h4><a href="#">Estos 4 meses</a> </h4>
                    </div>
                    <br>
        <!-- Caja a la izquierda abajo de las fechas para filtrar por eje -->
                    <div class="jumbotron" >
                        <h3>Temas</h3>
                        <h4><a href="#">Sustentabilidad</a> </h4>
                        <h4><a href="#">Innovacion</a> </h4>
                        <h4><a href="#">Social</a> </h4>
                        <h4><a href="#">Valores</a> </h4>
                    </div>
                </div>
                {% for evento in all_acts %}
                    <div class="card" style="width: 18rem;">
                      {% if evento.activity_picture%}
                        <img class="card-img-top" src="{{evento.activity_picture.url}}" alt="Card image cap" style="min-height: 150px; max-height: 150px;">
                      {% else %}
                        <img class="card-img-top" src="https://dummyimage.com/600x400/c1c8e4/291329.png&text=card+img" alt="Card image cap">
                      {% endif %}
                      <div class="card-body">
                        <h3 class="card-title">{{evento.activity_name}}</h3>
                        <p class="card-text">{{evento.activity_description}}</p>
                      </div>
                      <a href="{% url 'activities:actDetails' evento.id %}" class="btn btn-primary">Conoce mas</a>
                      {% if evento.activity_type == 'vida'%}
                          <div class="eje-carta" style="background-color: green; height: 11px; width: auto; margin: 0;"></div>
                        {% elif evento.activity_type == 'innovacion'%}
                          <div class="eje-carta" style="background-color: yellow; height: 11px; width: auto; margin: 0;"></div>
                        {% elif evento.activity_type == 'energia'%}
                          <div class="eje-carta" style="background-color: orange; height: 11px; width: auto; margin: 0;"></div>
                        {% elif evento.activity_type == 'social'%}
                          <div class="eje-carta" style="background-color: blue; height: 11px; width: auto; margin: 0;"></div>
                        {% endif %}
                    </div>
                    {% empty %}
                    <p>No hay nada en eventos</p>
                {% endfor %}
        </div>
      </div>
{% endblock %}