{% extends 'Activities/base.html'%}
{% load static from staticfiles %}

{% block styleSheet %}
<link rel="stylesheet" type="text/css" href="{% static 'detailHtmlStyle.css' %}">
{% endblock %}


{% block bodyContent%}
  <!-- # -->
      <div class="container-fluid" style="min-height: 889px;">
          <div class="row" style="padding-left: 10px">
              <div>
                  <img src="https://dummyimage.com/600x400/c1c8e4/291329.png&text=card+img" width="500 px" height="300 px">
              </div>
              <div class="act-info" style="padding-left: 40px" >
                  <br>
                  <br>
                  <br>
                  <h1>{{ act.user }}</h1>
                  <br>
                  <h3 align="center"> <a href="/user">{{ act.user }} </a></h3>
                  <br>
                  <button type="button" class="btn btn-success" style="margin-left: 210px">Registrate</button>
                  <a href="{% url 'activities:newDonation' act.id %}">Añadir donacion</a>
              </div>
         </div>
          <br>
              <hr class="style1">
          <br>
          <div class="row" style="padding-left: 10px">
              <br>
              <div>
                  <h3>Descripción</h3>
                  <h4 class="col-md-10">{{ act.activity_description }}</h4>
              </div>
              <div>
                  <h4>Fecha</h4>
                  <h5 class="col-md-12" class="text-secondary">{{ act.activity_start_date }}</h5>
                  <h5 class="col-md-12">{{ act.activity_end_date }}</h5>
              </div>
          </div>
      </div>
{% endblock %}